
.marg{margin:5px}
.tan{background-color:#fff8dc  !important}
.thumb{ width:auto ; height:auto; max-width:90%; display: block; margin-left: auto; margin-right: auto;
		padding: 5px 1px 5px 1px}
/*
div{height:auto !important; background-color: #fff8dc !important }
div{background-color: #fff8dc !important}
.skip{background-color:black  !important}
/* */

